@charset "UTF-8";

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.woff2) format('woff2')
}

.mi {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

body {
    --white: #fff;
    --black: #000;
    --grey: #888;
    --dark: #333;
    --light: #ddd;
    --extLight: #efefef;
    --surface: #fff;
    --surfaceOnSecondary: #efefef;
    --theme: #289c77;
}

body.darkmode {
    --white: #000;
    --black: #fff;
    --dark: #ddd;
    --light: #333;
    --extLight: #010101;
    --surface: #121212;
    --surfaceOnSecondary: #1e1e1e;
}

body {
    background: var(--surface);
    color: var(--black);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

a, a:link, a:visited, a:active {
    color: var(--theme);
    font-style: none;
}

.threadContainer {
    padding: 12px;
    border-radius: 6px;
    background: var(--surfaceOnSecondary);
    margin: 12px;
}

img.threadMeta_AuthorAvatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 12px;
}

.threadMeta_Container {
    display: inline-block;
    vertical-align: middle;
}

p.threadMeta_AuthorName {
    margin: 0;
    font: 900 17px/1 "sans-serif-black", sans-serif;
    color: var(--grey);
}

p.threadMeta_PostMeta {
    margin: 3px 0 0 0;
    font: 300 11px/1 sans-serif;
    color: var(--grey);
}

.threadContent {
    padding: 12px 0;
    word-break: break-all;
}

.threadContainer:not(:last-child) {
    border-bottom: 1px solid var(--extLight);
}


#pg-pgs {
    width: fit-content;
    margin: 0 auto;
    background: var(--white);
    display: block;
}

#pg-pgs span {
    padding: 3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    font: 16px/24px Anodina, sans-serif;
    margin: 6px;
    border: 1px solid transparent;
}

span.page {
    background: var(--bgwhite);
    cursor: pointer;
}

#pg-pgs span:not(.page) {
    font-weight: 900;
}

span.page:hover, span.page:focus {
    background: var(--white);
    border-color: var(--light) !important;
}

span.page.mi {
    font-family: 'Material Icons', sans-serif !important;
}